<div class="row header-body-row">
 <mat-card class="header-body">
    <div class="col s1 bootomPadding">
        <span *ngIf="toggle"   (click)="toggle=false;drawer.toggle()" style="cursor: pointer;"><i class="nav-drag-btn material-icons" [ngClass]="{'toggle-menu-btn':toggle}">format_list_bulleted</i></span>
        <span *ngIf="!toggle"   (click)="toggle=true;drawer.toggle()" style="cursor: pointer;"><i class="nav-drag-btn material-icons" [ngClass]="{'untoggle-menu-btn':(!toggle)}">format_list_bulleted</i></span>
      </div>
    <div class="col s2 bootomPadding">
      Logo Here
    </div>

    
  
   
    <div class="col s6 bootomPadding">
        <div class="search-wrapper" >
            
            <input id="search" placeholder="Search" style="height:100%"/>
            
          </div>
    </div>
    <div class="col s2 bootomPadding">
      Welcome User
      </div>
    <div class="col s1 bootomPadding">
        <span style="cursor: pointer;  background: rgb(63, 81, 181) !important;color:red"><i class="material-icons">power_settings_new</i></span>
    </div>
 </mat-card>
</div>
<div class="container-body">
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    




      <mat-accordion class="side-menu">
          <mat-expansion-panel style="background: white">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: black;">
              Contractors
            </mat-panel-title>
              <mat-panel-description>
                  <span><i class="material-icons"><img src="https://img.icons8.com/material-outlined/24/000000/worker-male.png"></i></span>
              </mat-panel-description>
              
            </mat-expansion-panel-header>
            
                <button mat-button color="Basic"  style="color: black;" routerLink="/contractor">Add <i style="padding-left: 11px;padding-bottom: 7px;" class="material-icons">person_add</i></button>
         </mat-expansion-panel>


         <mat-expansion-panel style="background: white">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: black;">
              Settings 
              </mat-panel-title>
              <mat-panel-description  style="color: black;">
                  <span style="padding-left: 22px;"><i class="material-icons">settings</i></span>
              </mat-panel-description>
              
            </mat-expansion-panel-header>
                <button mat-button color="Basic"  style="color: black;">Profile Setup <i class="material-icons">perm_identity</i></button>
          </mat-expansion-panel>
          </mat-accordion>

   
  </mat-drawer>

  <!-- <div class="example-sidenav-content">
      <span  *ngIf="toggle"   (click)="toggle=false;drawer.toggle()" style="cursor: pointer;"><i class="nav-drag-btn material-icons">chevron_right</i></span>
      <span  *ngIf="!toggle"  (click)="toggle=true;drawer.toggle()" style="cursor: pointer;"><i class="nav-drag-btn material-icons">chevron_left</i></span>
      
  </div> -->
  
  <router-outlet></router-outlet>
</mat-drawer-container>
</div>
<div class="row" style="margin-bottom: 0px !important;">
    <mat-card class="footer-body">
       Footer Works
    </mat-card>
   </div>